
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #f6d365, #fda085);
  text-align: center;
}
.logo {
  width: 150px;
  margin-top: 10px;
}
.language-select {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
}
.login-container, .thank-you-container {
  margin-top: 50px;
}
.emoji-button {
  font-size: 48px;
  margin: 20px;
  cursor: pointer;
}
.hidden {
  display: none;
}
